DATABASE_URL=postgres://postgres:postgres@glitchtip-postgres:5432/postgres
SECRET_KEY=
EMAIL_URL=consolemail://
GLITCHTIP_DOMAIN=http://localhost:8000
DEFAULT_FROM_EMAIL=noreply@example.com
ENABLE_ADMIN=False
ENABLE_OPENAPI=False
GLITCHTIP_ENABLE_LOGS=True
GLITCHTIP_ENABLE_UPTIME=True
VALKEY_URL=
SERVER_ROLE=all_in_one
